<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by Wedemy 2023.
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/Wedemy/eggeum-android/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
      android:name=".ui.MainActivity"
      android:exported="true"
      android:theme="@style/Theme.Eggeum.Main"
      android:windowSoftInputMode="adjustPan" />

    <meta-data
      android:name="com.naver.maps.map.CLIENT_ID"
      android:value="${NAVER_MAP_CLIENT_ID}" />

  </application>

</manifest>