<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by Wedemy 2023.
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/Wedemy/eggeum-android/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
    android:name=".App"
    android:allowBackup="false"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="${appName}"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:screenOrientation="portrait"
    android:theme="@style/Theme.Eggeum"
    tools:ignore="DataExtractionRules,MissingApplicationIcon"
    tools:targetApi="s">

    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">

      <meta-data
        android:name="us.wedemy.eggeum.android.initialize.TimberInitializer"
        android:value="androidx.startup" />

    </provider>

    <activity
      android:name=".IntroActivity"
      android:exported="true"
      android:theme="@style/Theme.Eggeum.Splash">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

    <!--    <activity-->
    <!--      android:name=".registercafe.ui.RegisterCafeActivity"-->
    <!--      android:exported="true"-->
    <!--      android:theme="@style/Theme.Eggeum.RegisterCafe">-->

    <!--      <intent-filter>-->
    <!--        <action android:name="android.intent.action.MAIN" />-->
    <!--        <category android:name="android.intent.category.LAUNCHER" />-->
    <!--      </intent-filter>-->

    <!--    </activity>-->

  </application>

</manifest>

